<%= form_for(@trading_market) do |f| %>
  <% if @trading_market.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trading_market.errors.count, "error") %> prohibited this trading_market from being saved:</h2>

      <ul>
      <% @trading_market.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
