<p id="notice"><%= notice %></p>


<h4>報名網頁<h4>
http://2016.agrithon.tw/
<h4>外部資料連結<h4>
<h4><%= link_to '農產品交易行情', 'http://data.coa.gov.tw/Query/ServiceDetail.aspx?id=037' %></h4>
<h4><%= link_to '農產品產地價格(月平均價格)', 'http://data.coa.gov.tw/Query/ServiceDetail.aspx?id=652' %></h4>
