<p id="notice"><%= notice %></p>

<h1>首頁名(待想)</h1>

<h3><%= link_to '農產品交易行情', trading_markets_path %></h3>
<h3><%= link_to '農產品產地價格', prices_path %></h3>

<!-- <!%= link_to 'New Welcome', new_welcome_path %> -->
