<p id="notice"><%= notice %></p>

<p>
  <strong>Date a:</strong>
  <%= @weather_test.date_a %>
</p>

<%= link_to 'Edit', edit_weather_test_path(@weather_test) %> |
<%= link_to 'Back', weather_tests_path %>
